

        <!----header---->
        <div class="header change-cursor" id="home">
            <a href="index.html">
                <div class="logo">
                    <img src="static/images/logo.png" alt="logo" />
                </div>
            </a>
            <div class="menu-section nav">
                <ul class="m-0 p-0 menu">
                    <!-- <a href="index.html" class="text-decoration-none text-dark"><li class="active mx-1">Home</li></a> -->
                    <a href="index.html#about"><li>About us</li></a>
                    <a href="./properties-management.html"><li>Properties Management</li></a>
                    <a href="./listing.html"><li>Rentals</li></a>
                    <a href="./home-improments.html"><li>Home Improments</li></a>
                    <a href="blogs-list.html"><li>Blogs</li></a>
                    <a href="index.html#Testimonials"><li>Testimonials</li></a>
                    <a href="index.html#contactUs"><li>Contact us</li></a>
                </ul>
            </div>
            <div class="menu-icon ">
                <div class="position-relative w-100 h-100">
                    <span id="span1">
                        <div class="animateline"></div>
                    </span>
                    <span id="span2">
                        <div class="animateline"></div>
                    </span>
                    <span id="span3">
                        <div class="animateline"></div>
                    </span>
                </div>
            </div>
        </div>

        <script src="static/js/custom.js"></script>