{% extends 'base_template.html' %}
{% load static %}
{% block content %}

    <!----about---->
    <div class="main-aboutus2">


      <div class="content">
        <div class="aboutus-images">
          <img src="{% static 'images/02.jpg' %}" alt="">
        </div>
        <div class="aboutus-title">
          <h1>Introduction </h1>
        </div>
        <p class="ph">
          Vim Meditech Pvt. Ltd. pioneers in innovative parenteral drug delivery systems and it is the world's first
          company to have achieved manufacturing glass syringes and filling formulations into glass and polymer syringes
          from 0.5 ml to 10 ml - all under one roof.
        </p>
        <p class="ph">Vim Meditech is one of the few companies in the world to manufacture glass Pre-filled Syringes,
          Pre-fillable
          Syringes, formulations and cytotoxic API, for captive consumption. Vim Meditech prides itself in its
          state-of-art manufacturing facility that meets the specifications of WHO-cGMP and other international
          regulatory bodies.</p>
        <div class="row">
          <div class="col-md-6">
            <div class="content-points">
              <div class="aboutus-title2">
                <h1>MISSION </h1>
              </div>
              <p></p>
              <p class="dots">To provide specialized pharmaceutical products PREFILLED SYRINGES which meet the highest
                quality, eligibility, safety and accessibility standards; to be environmentally-friendly and committed
                with the corporate social responsibility.</p>

            </div>
          </div>
          <div class="col-md-6">
            <div class="content-points">
              <div class="aboutus-title2">
                <h1>VISION </h1>
              </div>
              <p class="dots">To reach an outstanding short-term leadership in the most important pharmaceutical
                specialties PREFILLED SYRINGES and, in a medium-term basis, to be the selection of choice for PREFILLED
                SYRINGES. In a long-term basis, we are determined to be acknowledged as one of the top solutions
                throughout the WORLD, for PREFILLED SYRINGES.</p>
            </div>
          </div>
        </div>
        <div class="sm-title shaperight">
          <h3>The benefits are numerous:</h3>
          <div class="hex">
            <img src="{% static 'images/heexa.svg' %}" alt="">
          </div>
        </div>
        <p class="dots">No chance of contamination from hand or from hospital atmosphere</p>
        <p class="dots">Saves valuable time in critical care management</p>
        <p class="dots">Easy to administer</p>
        <p class="dots">Accurate dosage</p>
        <p class="dots">Eliminates human errors of wrong choice of medication in an unmarked syringe
        </p>
        <p class="dots">Minimal chance of needle injury to the healthcare staff</p>
        <p class="dots">Minimizing medical wastage to a great deal by rendering vials and ampoules unnecessary and hence
          their
          production, avoidable.</p>
        <!-- <h2>Thanks & Regards,</h2> -->
        <div class="row">
          <div class="col-md-6">
            <div class="content-points">
              <div class="aboutus-title2">
                <h1>RESEARCH & DEVELOPMENT </h1>
              </div>
              <div class="sm-title2">
                <h3>Ultra Modern Research Center</h3>
              </div>
              <p></p>
              <p class="dots">State-of-the-art research centre that has facilities to convert conventional molecules
                present in Vials/Ampoules into pre-filled syringes</p>
              <p class="dots">Ultra-Modern Research Centre testing biocompatibility for over 272 drugs for PFS so far
              </p>
              <p class="dots">Rigorous QA & QC department</p>
              <p class="dots">More than 35 scientists and researchers are deployed for intense R & D</p>
              <p class="dots">Product development is taken under structured timeline and associated studies are carried
                out simultaneously</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="content-points">
              <div class="aboutus-title2">
                <h1>INTERNATIONAL REGULATORY AFFAIRS </h1>
              </div>
              <div class="sm-title2">
                <h3>Dynamic & Futuristic Growth in Export Market</h3>
              </div>
              <p>Regulatory Team:</p>
              <p class="dots">An experienced and efficient International Regulatory Affairs (IRA) team helming the
                regulatory department</p>
              <p class="dots"> US-DMF is prepared and filed for empty PFS
              </p>
              <p class="dots">Empty PFS registration and filing of documents for various countries is under process</p>
              <p class="dots">Preparation and submission of dossiers is carried out for Export related Finished Products
              </p>
              <p class="dots">Currently Dossiers are ready in CTD and ACTD format</p>
              <p class="dots">Depending upon the country specific requirements dossiers are prepared</p>
            </div>
          </div>
        </div>

      </div>
    </div>
{% endblock %}