{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <!----about---->
    <div class="main-aboutus">
      <div class="content-box">
        <div class="title"> <h1>Vim Meditech Formulated Range</h1></div>
        <p> Vim Meditech is leading super specialized manufacturer of Pre-filled Syringes (PFS)</p>
        <p> A certified WHO-GMP company</p>
        <p> Vim Meditech has to the credit the certificate from 'The Kenya Pharmacy & Poisons Board', Kenya</p>
        <p> Vim Meditech can provide complete PFS solutions for parenteral drug delive ry system </p>

        <div class="image-row">
          <div class="images">
            <img src="{% static 'images/about-g1.png' %}" alt="">
          </div>
          <div class="images">
            <img src="{% static 'images/about-g2.png' %}" alt="">
          </div>
        </div>
        <div class="title"><h1> Filling Facility at Vim Meditech</h1></div>
        <p>Automatic Production Lines</p>
        <p>Entire Automated process, which includes Filling, Visual Inspection, Labelling and even Plunger Rod
           Insertion. Blistering is also done online</p>
        <p>Class 100 Area Cleanroom is composed of Stainless Steel completely</p>
        <p>Continuous online monitoring and inspection</p>
        <p>Rigorous QA and QC Department</p>
        <div class="image-row">
          <div class="images-g3">
            <img src="{% static 'images/about-g3.png' %}" alt="">
          </div>
        </div>
        <div class="title"><h1> Salient Features :</h1></div>
        <p>We are the only one who manufactures NOT ONLY empty Pre-fillable syringes BUT ALSO Pre-filled syringes with
          drug formulations</p>
        <p>We are the only organisation in the world which does not have to be dependent on other companies because we
           manufacture PFS devices as well as their
           components</p>
        <p>Capacity of manufacturing 1 Lac syringes a day which is more than 30 million syringes a year Manufacturing
          facilities have been made to comply with US-FDA,</p>
        <p>UK MHRA, TGA Australia
          Most advanced production techniques with classified as per regulatory guidances.</p>
        <div class="image-row">
          <div class="images-g3">
            <img src="{% static 'images/about-g4.png' %}" alt="">
          </div>
        </div>
        <div class="title"><h1> Benefits of shifting from conventional to PFS</h1></div>
        <p>Can have better brand extensions</p>
        <p>Can impose barriers against price competition</p>
        <p>Can increase market stake by giving product valuation to existing brand</p>

        <div class="title mt-4"><h1> Benefits of PFS</h1></div>
        <p>Trivial Over filling , Least Medical Waste , Assured Sterility , Convenience and safety , Saves time</p>
        <p>saves lives , Accuracy , Freedom from Needle phobia , Easy storage and disposal , Least contamination ,
        </p>
        <p>Minimizes Human Error , Removal of preservatives , No more accidental Needle stick injuries
        </p>
        <div class="image-row">
          <div class="images">
            <img src="{% static 'images/about-g5.png' %}" alt="">
          </div>
          <div class="images">
            <img src="{% static 'images/about-g6.png' %}" alt="">
          </div>
        </div>
        <div class="title"><h1> Vim Meditech Offers</h1></div>
        <p>Empty glass Pre-fillable Syringe, Empty Polymer (COC) Pre-fillable syringe, Contract Manufacturing for
           Pre-filled syringes, Development of any formulation
           in Pre-filled form with help of our R&D</p>

        <div class="title mt-4"><h1> Our Pre-filled and Pre-fillable Syringes help in :</h1>
        </div>
        <p>Differentiation from competition - this will raise your brand to new heights.
        </p>
        <p>Premium pricing possibilities - Economic advantages translate into better profits.
        </p>
        <p>More attractive for end users- Giving your product a new edge.
        </p>
        <p>Will add significant value to the treatment of a medical condition.
        </p>

        <div class="image-row">
          <div class="images-g7">
            <img src="{% static 'images/about-g7.png' %}" alt="">
          </div>
        </div>
        <div class="title"><h1> Contract Manufacturing</h1></div>
        <p>We believe in a strong and perpetual partnership with you...</p>
        <p>We offer the attractive option of Contract manufacturing for your products! Partner with us and extend the
          lifecycle of your product by moving it from</p>
        <p>ampoules and vials to Prefilled Syringes!</p>
        <p>Life-cycle management is an integral part of the success of a brand. For the pharmaceutical industry in
          India, its significance is tremendous. Rather than
          build strong brands, many pharmaceutical companies today depend on their ability to keep the pipeline filled
          with new products. However, the discovery of
          new products has been declining, while at the same time development costs have been increasing. Patent laws do
          not permit reverse engineering, putting
        </p>
        <p>Indian companies at a disadvantage.</p>
        <p>This is the right time for Indian companies to turn to brand life cycle management. In a hotly contested
          market such as India, one should opt for
          sophisticated and advanced drug delivery systems to set themselves apart from the competition. And therefore,
          for small volume parentals, prefilled
          syringes become a very attractive option.</p>


      </div>
    </div>

{% endblock %}