{% extends 'base_template.html' %}
{% load static %}
{% block content %}

    <!----products---->
    <div class="main-products">
      <div class="container">
        <div class="radio-tile-group">
          <div class="input-container section1">
            <input class="radio-button" type="radio" name="radio"  checked>
            <div class="radio-tile">
              <label class="radio-tile-label"> Empty Glass pre-filled Syringes</label>
            </div>
          </div>
      
          <div class="input-container section2">
            <input class="radio-button" type="radio" name="radio" />
            <div class="radio-tile">
              <label class="radio-tile-label">  Pre-filled Syringes with formation</label>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="section-row">
        <div class="section1">
          Empty Glass pre-filled Syringes
        </div>
        <div class="section2">
          Pre-filled Syringes with formation
        </div>
      </div> -->



      <div id="firstBox">
      <div class="row">
        <div class="col-md-6">
          <div class="content-points">
            <div class="aboutus-title2">
              <h1>MANUFACTURING FACILITIES </h1>
            </div>
            <div class="sm-title2">
              <h3>World-class Processes that Guarantee Premium Quality</h3>
            </div>
            <p></p>
            <p class="dots">The core forte of VMPL in manufacturing empty glass Pre-fillable Syringes and formulating
              glass as well as polymer Pre-filled Syringes. VMP also earned national as well as international acclaim
              for inventive products, catering to comprehensive and diverse formulation sections such as General and
              Ophthalmic</p>
            <p class="dots">The entire process being computerized and automated, there is no chance of contamination due
              to human touch. We have a capacity of 7 Pre-filled Syringe filling lines that function with precision for
              glass and polymer syringes.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="content-points">
            <div class="aboutus-title2">
              <h1>PRODUCTS & SERVICES </h1>
            </div>
            <div class="sm-title2">
              <h3>Empty Glass Pre-filled Syringes</h3>
            </div>
            <p class="dots">We manufacture premium quality glass Pre-filled Syringes which completely satisfy all
              customer requirements. Their flexible design features allow optimal and easy incorporation of individual
              components. They are also technically compliant with all international standards in the pharmaceutical and
              medical device industry.</p>
          </div>
        </div>
      </div>
      <div class="hex2">
        <img src="{% static 'images/review-shape.png'%}" alt="">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box-image">
            <img src="{% static 'images/09.jpg' %}" alt="">
            <div class="corner">
              <img src="{% static 'images/image-corner.svg'%}" alt="">
            </div>
            <div class="corner2">
              <img src="{% static 'images/image-corner.svg'%}" alt="">
            </div>
            <div class="corner3">
              <img src="{% static 'images/image-corner2.svg'%}" alt="">
            </div>
            <div class="corner4">
              <img src="{% static 'images/image-corner2.svg'%}" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-image">
            <img src="{% static 'images/01.jpg' %}" alt="">
            <div class="corner">
              <img src="{% static 'images/image-corner.svg'%}" alt="">
            </div>
            <div class="corner2">
              <img src="{% static 'images/image-corner.svg'%}" alt="">
            </div>
            <div class="corner3">
              <img src="{% static 'images/image-corner2.svg'%}" alt="">
            </div>
            <div class="corner4">
              <img src="{% static 'images/image-corner2.svg'%}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="content-points2">
        <div class="aboutus-title2">
          <h1>CONTRACT MANUFACTURING TECHNICAL </h1>
        </div>
        <div class="sm-title2">
          <h3>Increasing brand value through life-cycle management</h3>
        </div>
        <p class="dots">In India's hotly contested market with competition from many similar products, choosing
          sophisticated and advanced methods of drug delivery systems, is an effective way to demarcate oneself from the
          rest. For the small volume of parenterals, Pre-filled Syringes are an attractive option. Partner with VMPL and
          extend the lifecycle of your product by moving it from ampoules and vials to VIM Meditech Pvt. Ltds'
          Pre-filled Syringes !</p>
        <p class="dots">It offers tremendous savings!</p>
        <p class="dots">Vial washing, de-pyrogenation, and vial-component preparation equipment are not required because
          the syringes come pre-sterilized and ready for use. Enhanced efficiency can be achieved with Pre-filled
          Syringes, over-filling is less than 2% as opposed to ampoules and vials where it may be over 18%.</p>
      </div>
      <div class="title-heading">
        <h2>
          <span>T</span>ECHNICAL <span>S</span>PECIFICATIONS
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="content-table">
            <div class="bg-title">
              <h1>PRODUCT RANGE </h1>
            </div>
            <div class="bg-title">
              <h3>Luer-lock (LL)</h3>
            </div>
            <table>
              <thead>
                <tr>
                  <th>
                    <label1>Sr no.</label1>
                  </th>
                  <th>
                    <label1>product</label1>
                  </th>
                  <th>
                    <label1>ID* <br> mm</label1>
                  </th>
                  <th>
                    <label1>OD* <br> mm</label1>
                  </th>
                  <th>
                    <label1>Length* <br> mm</label1>
                  </th>
                  <th>
                    <label1>Nest paking <br> of barrels</label1>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label1="Sr no.">1.</td>
                  <td data-label1="product"> 1 mL LL</td>
                  <td data-label1="ID* mm"> 8.65</td>
                  <td data-label1="OD* mm">10.85</td>
                  <td data-label1="Length* mm"> 37.7</td>
                  <td data-label1="Nest paking of barrels">100</td>
                </tr>
                <tr>
                  <td data-label1="Sr no.">2.</td>
                  <td data-label1="product"> 2.5 mL LL</td>
                  <td data-label1="ID* mm"> 8.65</td>
                  <td data-label1="OD* mm">10.85</td>
                  <td data-label1="Length* mm"> 49</td>
                  <td data-label1="Nest paking of barrels">100</td>
                </tr>
                <tr>
                  <td data-label1="Sr no.">3.</td>
                  <td data-label1="product"> 5 mL LL</td>
                  <td data-label1="ID* mm"> 11.85</td>
                  <td data-label1="OD* mm">14.45</td>
                  <td data-label1="Length* mm"> 66.7</td>
                  <td data-label1="Nest paking of barrels">64</td>
                </tr>

              </tbody>
            </table>
            <div class="bg-title mt-3">
              <h3>Stacked Needle (SN)</h3>
            </div>
            <table>
              <thead>
                <tr>
                  <th>
                    <label1>Sr no.</label1>
                  </th>
                  <th>
                    <label1>product</label1>
                  </th>
                  <th>
                    <label1>ID* <br> mm</label1>
                  </th>
                  <th>
                    <label1>OD* <br> mm</label1>
                  </th>
                  <th>
                    <label1>Length* <br> mm</label1>
                  </th>
                  <th>
                    <label1>Nest paking <br> of barrels</label1>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label1="Sr no.">4.</td>
                  <td data-label1="product"> 0.5 mL LL</td>
                  <td data-label1="ID* mm"> 4.65</td>
                  <td data-label1="OD* mm">6.85</td>
                  <td data-label1="Length* mm"> 49</td>
                  <td data-label1="Nest paking of barrels">100</td>
                </tr>
                <tr>
                  <td data-label1="Sr no.">5.</td>
                  <td data-label1="product"> 1 mL LL</td>
                  <td data-label1="ID* mm"> 6.35</td>
                  <td data-label1="OD* mm">8.15</td>
                  <td data-label1="Length* mm"> 54</td>
                  <td data-label1="Nest paking of barrels">100/ <br> 160</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="image-center">
          <div class="table-image">
            <img src="{% static 'images/04.jpg' %}" alt="">
            <div class="corner">
              <img src="{% static 'images/image-corner.svg'%}" alt="">
            </div>
            <div class="corner2">
              <img src="{% static 'images/image-corner.svg'%}" alt="">
            </div>
            <div class="corner3">
              <img src="{% static 'images/image-corner2.svg'%}" alt="">
            </div>
            <div class="corner4">
              <img src="{% static 'images/image-corner2.svg'%}" alt="">
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="bg-title">
            <h1>PRODUCT RANGE </h1>
          </div>
          <p class="dots">Glass barrel made of neutral glass clear, type-l (as per EP/USP/JP)</p>
          <p class="dots">Process step: Forming, Annealing, Washing/ Siliconization, DHS/ Silicon Curing, Assembling,
            Packaging in Class B cleanroom</p>
          <p class="dots">Eto sterilisation</p>
          <p class="dots"> Suitable for standard filling machine and packaging equipment</p>
          <p class="dots">Round flange/Cut flange available</p>
          <p class="dots">Graduation available</p>
        </div>
        <div class="col-md-6">
          <div class="bg-title">
            <h1>Components: </h1>
          </div>
          <p class="dots">Luer-lock:</p>
          <p class="dots">Luer Tip</p>
          <p class="dots">Needle Shield</p>
          <p class="dots">Plunger Rod (Coloured option available)</p>
        </div>
      </div>
      <div class="content-points2">
        <div class="aboutus-title2 shape">
          <div class="hex">
            <img src="{% static 'images/heexa.svg'%}" alt="">
          </div>
          <h1> Safety Device System </h1>
        </div>
        <div class="sm-title2">
          <h3>Where PFS can be used?</h3>
        </div>
        <p class="dots">Single Use system <br>
          Single use devices that are indicated for use as an accessory with pre-filled syringes to aid in the
          protection from accidental needle sticks.</p>
        <p class="dots">Health Care providers and self-administration <br>
          Designed for home and clinical use to help protecting healthcare professionals.</p>
        <p class="dots">Patients who self-inject doctor prescribed medications</p>
      </div>
      <div class="title-heading">
        <h2>
          <span>P</span>FS <span>C</span>omponents
        </h2>
      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="image-center">
          <div class="table-image">
            <img src="{% static 'images/05.jpg' %}" alt="">
            <div class="corner">
              <img src="{% static 'images/image-corner.svg'%}" alt="">
            </div>
            <div class="corner2">
              <img src="{% static 'images/image-corner.svg'%}" alt="">
            </div>
            <div class="corner3">
              <img src="{% static 'images/image-corner2.svg'%}" alt="">
            </div>
            <div class="corner4">
              <img src="{% static 'images/image-corner2.svg'%}" alt="">
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-6">
          <div class="content-table">
            <div class="bg-title">
              <h1>Luer-lock (LL) Plungers </h1>
            </div>
            <!-- <div class="sm-title">
              <h3>Luer-lock (LL)</h3>
            </div> -->
            <table>
              <thead>
                <tr>
                  <th>
                    <label1>Sr no.</label1>
                  </th>
                  <th>
                    <label1>product</label1>
                  </th>
                  <th>
                    <label1>ID <br> mm</label1>
                  </th>
                  <th>
                    <label1>OD <br> mm</label1>
                  </th>
                  <th>
                    <label1>Height <br> mm</label1>
                  </th>
                  <th>
                    <label1>Nest paking</label1>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label1="Sr no.">1.</td>
                  <td data-label1="product"> 1 mL LL</td>
                  <td data-label1="ID* mm"> 5.1</td>
                  <td data-label1="OD* mm">9.0</td>
                  <td data-label1="Length* mm"> 8.50</td>
                  <td data-label1="Nest paking of barrels">100</td>
                </tr>
                <tr>
                  <td data-label1="Sr no.">2.</td>
                  <td data-label1="product"> 2.5 mL LL</td>
                  <td data-label1="ID* mm"> 5.1</td>
                  <td data-label1="OD* mm">9.0</td>
                  <td data-label1="Length* mm"> 8.50</td>
                  <td data-label1="Nest paking of barrels">100</td>
                </tr>
                <tr>
                  <td data-label1="Sr no.">3.</td>
                  <td data-label1="product"> 5 mL LL</td>
                  <td data-label1="ID* mm"> 5.6</td>
                  <td data-label1="OD* mm">12.20</td>
                  <td data-label1="Length* mm">8.50</td>
                  <td data-label1="Nest paking of barrels">64</td>
                </tr>
                <tr>
                  <td data-label1="Sr no.">4.</td>
                  <td data-label1="product">10 mL LL</td>
                  <td data-label1="ID* mm">8.1</td>
                  <td data-label1="OD* mm">15.20</td>
                  <td data-label1="Length* mm">10.69</td>
                  <td data-label1="Nest paking of barrels">42</td>
                </tr>

              </tbody>
            </table>
            <div class="bg-title">
              <h1>Stacked Needle (SN) Plungers </h1>
            </div>
            <!-- <div class="sm-title mt-3">
              <h3>Stacked Needle (SN)</h3>
            </div> -->
            <table>
              <thead>
                <tr>
                  <th>
                    <label1>Sr no.</label1>
                  </th>
                  <th>
                    <label1>product</label1>
                  </th>
                  <th>
                    <label1>ID <br> mm</label1>
                  </th>
                  <th>
                    <label1>OD <br> mm</label1>
                  </th>
                  <th>
                    <label1>Height <br> mm</label1>
                  </th>
                  <th>
                    <label1>Nest paking</label1>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label1="Sr no.">1.</td>
                  <td data-label1="product"> 1 mL SN</td>
                  <td data-label1="ID* mm"> 2.7</td>
                  <td data-label1="OD* mm">6.60</td>
                  <td data-label1="Length* mm"> 8.50</td>
                  <td data-label1="Nest paking of barrels">100</td>
                </tr>
                <tr>
                  <td data-label1="Sr no.">2.</td>
                  <td data-label1="product">2.25 mL SN</td>
                  <td data-label1="ID* mm"> 5.1</td>
                  <td data-label1="OD* mm">9.0</td>
                  <td data-label1="Length* mm">8.50</td>
                  <td data-label1="Nest paking of barrels">100</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="title-heading">
        <h2>
          <span>O</span>ther <span>P</span>FS <span>C</span>omponents:
        </h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="products-image-box">
            <img src="{% static 'images/11.png'%}" alt="">
            <p>Luer-Tip (rubber) </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="products-image-box">
            <img src="{% static 'images/44.png'%}" alt="">
            <p>Luer-Tip (plastic) </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="products-image-box">
            <img src="{% static 'images/22.png'%}" alt="">
            <p>Needle Shield (rubber)</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="products-image-box">
            <img src="{% static 'images/33.png'%}" alt="">
            <p>Needle Shield (plastic)
            </p>
          </div>
        </div>
      </div>
    </div>

<div id="secoundBox">
    <table>
     
      <thead>
        <tr>
          <th scope="col">CATEGORY</th>
          <th scope="col">No.</th>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">STRENGTH</th>
          <th scope="col">VOLUME</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="CATEGORY" rowspan="2">AN ELECTROLYTE REPLENISH</td>
          <td data-label="No.">1</td>
          <td data-label="PRODUCT NAME">POTASSIUM CHLORIDE INJ.</td>
          <td data-label="STRENGTH">150 MG/ML</td>
          <td data-label="VOLUME">10 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">2</td>
          <td data-label="PRODUCT NAME">SODIUM CHLORIDE INJECTION IP</td>
          <td data-label="STRENGTH">9 MG/ML</td>
          <td data-label="VOLUME">1/2/5/10 ML PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="2">ANALGESIC</td>
          <td data-label="No.">3</td>
          <td data-label="PRODUCT NAME">TRAMADOL HCL INJ.</td>
          <td data-label="STRENGTH">50 MG/ML</td>
          <td data-label="VOLUME">1 ML &2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">4</td>
          <td data-label="PRODUCT NAME">METHOCARBAMOL INJECTION U.S.P.</td>
          <td data-label="STRENGTH">100 MG/ML</td>
          <td data-label="VOLUME">10 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIASTHMA</td>
          <td data-label="No.">5</td>
          <td data-label="PRODUCT NAME">ETOPHYLLINE & THEOPHYLLINE INJ.</td>
          <td data-label="STRENGTH">84.7 MG/ML+25.3 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="3">ANTICHOLINERGIC</td>
          <td data-label="No.">6</td>
          <td data-label="PRODUCT NAME">GLYCOPYRROLATE & NEOSTIMGIN INJ.</td>
          <td data-label="STRENGTH">2.5 MG/5ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">7</td>
          <td data-label="PRODUCT NAME">GLYCOPYRROLATE & NEOSTIMGIN INJ.</td>
          <td data-label="STRENGTH">0.5 MG/5ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">8</td>
          <td data-label="PRODUCT NAME">ATROPINE</td>
          <td data-label="STRENGTH">0.1 MG/5ML</td>
          <td data-label="VOLUME">10 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICOAGULANT</td>
          <td data-label="No.">9</td>
          <td data-label="PRODUCT NAME">VITAMIN K ANALOGUE</td>
          <td data-label="STRENGTH">10 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">COAGULANT</td>
          <td data-label="No.">10</td>
          <td data-label="PRODUCT NAME">ADRENOCHROME INJ</td>
          <td data-label="STRENGTH">1 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIDOTE</td>
          <td data-label="No.">11</td>
          <td data-label="PRODUCT NAME">PROTAMINE SULPHATE INI USP</td>
          <td data-label="STRENGTH">10 MG/ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="3">ANTIHISTAMINES</td>
          <td data-label="No.">12</td>
          <td data-label="PRODUCT NAME">ADRENALINE TARTARATE</td>
          <td data-label="STRENGTH">1 MG/ML; 1MG/10ML</td>
          <td data-label="VOLUME">10 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">13</td>
          <td data-label="PRODUCT NAME">TERBUTALINE INJ. IP</td>
          <td data-label="STRENGTH">0.5 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">14</td>
          <td data-label="PRODUCT NAME"> PHENIRAMINE MALEATE INJECTION IP</td>
          <td data-label="STRENGTH">22.75 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="2">ANTIMALARIAL</td>
          <td data-label="No.">15</td>
          <td data-label="PRODUCT NAME">CHLOROQUINE PHOSPHATE INJ. I.P.</td>
          <td data-label="STRENGTH">40 MG/ML</td>
          <td data-label="VOLUME">2 ML & 5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">16</td>
          <td data-label="PRODUCT NAME">QUININE SULPHATE INI.</td>
          <td data-label="STRENGTH">300 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIULCER DRUG</td>
          <td data-label="No.">17</td>
          <td data-label="PRODUCT NAME">RANITIDINE HCLINI</td>
          <td data-label="STRENGTH">25 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">CHOLAGOGUES AND HEPATIC</td>
          <td data-label="No.">18</td>
          <td data-label="PRODUCT NAME">L-ORNITHINE L-ASPARTATE INJ.</td>
          <td data-label="STRENGTH">5 MG/10ML</td>
          <td data-label="VOLUME">10 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">NONSTEROIDAL ANTI-INFLAMMATORY DRUG</td>
          <td data-label="No.">19</td>
          <td data-label="PRODUCT NAME">FRUSEMIDE INJ.</td>
          <td data-label="STRENGTH">10 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">HEMOSTATIC</td>
          <td data-label="No.">20</td>
          <td data-label="PRODUCT NAME">ETHAMSYLATE INJ.</td>
          <td data-label="STRENGTH">125 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">NONSTEROIDAL ANTI-INFLAMMATORY DRUG</td>
          <td data-label="No.">21</td>
          <td data-label="PRODUCT NAME">KETOROLAC TROMETHAMINE INJECTION IP</td>
          <td data-label="STRENGTH">30 MG/ML</td>
          <td data-label="VOLUME">1/2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">VASOCONSTRICTOR</td>
          <td data-label="No.">22</td>
          <td data-label="PRODUCT NAME">PHENYLEPHRINE INJ. I.P.</td>
          <td data-label="STRENGTH">10 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">CNS STIMULANT</td>
          <td data-label="No.">23</td>
          <td data-label="PRODUCT NAME">PIRACETAM INJ.</td>
          <td data-label="STRENGTH">20 MG/ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">CNS ANTAGONIST</td>
          <td data-label="No.">24</td>
          <td data-label="PRODUCT NAME">ERGOTAMINE TARTRATE INJ</td>
          <td data-label="STRENGTH">1 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="2">SEDATIVE</td>
          <td data-label="No.">25</td>
          <td data-label="PRODUCT NAME">FLUCOPHENAZINE DECANOATE INJ</td>
          <td data-label="STRENGTH">100 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">26</td>
          <td data-label="PRODUCT NAME">NANDROLONE INJ.</td>
          <td data-label="STRENGTH">25 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="3">STEROID</td>
          <td data-label="No.">27</td>
          <td data-label="PRODUCT NAME">NANDROLONE INJ.</td>
          <td data-label="STRENGTH">50 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
      
        <tr>
          <td data-label="No.">28</td>
          <td data-label="PRODUCT NAME">NANDROLONE INJ.</td>
          <td data-label="STRENGTH">100 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">29</td>
          <td data-label="PRODUCT NAME">DEXAMETHASONE SODIUMPHOSPHATE</td>
          <td data-label="STRENGTH">4 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="2">ANTISPASMODIC</td>
          <td data-label="No.">30</td>
          <td data-label="PRODUCT NAME">DICYCLOMINE HCL INJ.</td>
          <td data-label="STRENGTH">10 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
      
        <tr>
          <td data-label="No.">31</td>
          <td data-label="PRODUCT NAME">HYOSCINE BUTYL BROMIED INJ.</td>
          <td data-label="STRENGTH">20 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
       
        <tr>
          <td data-label="CATEGORY">ANTIBACTERIAL</td>
          <td data-label="No.">32</td>
          <td data-label="PRODUCT NAME">LINCOMYCIN INJECTION USP</td>
          <td data-label="STRENGTH">300 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="3">VITAMIN SUPPLEMENT</td>
          <td data-label="No.">33</td>
          <td data-label="PRODUCT NAME">CHOLECALCIFEROL INJECTION B.P.</td>
          <td data-label="STRENGTH">3.0L IU/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">34</td>
          <td data-label="PRODUCT NAME">CHOLECALCIFEROL INJECTION B.P.</td>
          <td data-label="STRENGTH">6.0L IU/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">35</td>
          <td data-label="PRODUCT NAME">ASCORBIC ACID INJECTION (VITAMIN C)</td>
          <td data-label="STRENGTH">100 MG/ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" >VITAMIN SUPPLEMENT</td>
          <td data-label="No.">36</td>
          <td data-label="PRODUCT NAME">METHYLCOBALAMINE & MULTIVITAMIN INJ.</td>
          <td data-label="STRENGTH">METHYLCIOBALAMINE
            1000 MCG+ PYRIDOXINE HCL
            100 MG+ NICOTINAMIDE 100 MG</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">GENERAL ANESTHETIC</td>
          <td data-label="No.">37</td>
          <td data-label="PRODUCT NAME">KETAMINE INJECTION IP</td>
          <td data-label="STRENGTH">50 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">LOCAL ANESTHETIC</td>
          <td data-label="No.">38</td>
          <td data-label="PRODUCT NAME">BUPIVACAINE HCL INJI (HEAVY ALSO AVAILABLE) GLASS</td>
          <td data-label="STRENGTH">2.5 MG/ML</td>
          <td data-label="VOLUME">4 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="2">ANTICONVULSANT</td>
          <td data-label="No.">39</td>
          <td data-label="PRODUCT NAME">CLONAZEPAM INJECTION</td>
          <td data-label="STRENGTH">1 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">40</td>
          <td data-label="PRODUCT NAME">PHENYTOIN SODIUM INJ.</td>
          <td data-label="STRENGTH">50 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIPSYCHOTICS</td>
          <td data-label="No.">41</td>
          <td data-label="PRODUCT NAME">HALOPERIDOL INJECTION IP</td>
          <td data-label="STRENGTH">5 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANXIOLYTIC</td>
          <td data-label="No.">42</td>
          <td data-label="PRODUCT NAME">LORAZEPAM INJECTION BP</td>
          <td data-label="STRENGTH">2 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">VASODILATOR</td>
          <td data-label="No.">43</td>
          <td data-label="PRODUCT NAME">ISOXSUPRINE HYDROCHLORIDEINJ. I.P.</td>
          <td data-label="STRENGTH">5 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="2">ANTIHYPERTENSIVE</td>
          <td data-label="No.">44</td>
          <td data-label="PRODUCT NAME">NITROGLYCERIN INJ U.S.P</td>
          <td data-label="STRENGTH">5 MG/ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">45</td>
          <td data-label="PRODUCT NAME">CLONIDINE HYDROCHLORIDEINIECTION I.P/td>
          <td data-label="STRENGTH">150 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">BRONCHO-DILATOR</td>
          <td data-label="No.">46</td>
          <td data-label="PRODUCT NAME">AMINOPHYLLINE INJECTION U.S.P</td>
          <td data-label="STRENGTH">25 MG/ML</td>
          <td data-label="VOLUME">10 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY"> FOR MIGRAINE</td>
          <td data-label="No.">47</td>
          <td data-label="PRODUCT NAME">SUMATRIPTAN</td>
          <td data-label="STRENGTH">6 MG/ 0.5ML</td>
          <td data-label="VOLUME">0.5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIARRHYTHMIC</td>
          <td data-label="No.">48</td>
          <td data-label="PRODUCT NAME">ADENOSINE</td>
          <td data-label="STRENGTH">3 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIBIOTIC</td>
          <td data-label="No.">49</td>
          <td data-label="PRODUCT NAME">AMIKACIN</td>
          <td data-label="STRENGTH">50 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIBIOTIC</td>
          <td data-label="No.">50</td>
          <td data-label="PRODUCT NAME">AMIKACIN</td>
          <td data-label="STRENGTH">125 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIBIOTIC</td>
          <td data-label="No.">51</td>
          <td data-label="PRODUCT NAME">AMIKACIN</td>
          <td data-label="STRENGTH">250 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANESTHETIC</td>
          <td data-label="No.">52</td>
          <td data-label="PRODUCT NAME">BUPIVACAINE HEAVY</td>
          <td data-label="STRENGTH">0.5%/ ML</td>
          <td data-label="VOLUME">4 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICONVULSANT</td>
          <td data-label="No.">53</td>
          <td data-label="PRODUCT NAME">DIAZEPAM</td>
          <td data-label="STRENGTH">10 MG/2ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">NSAIDS</td>
          <td data-label="No.">54</td>
          <td data-label="PRODUCT NAME">DICLOFENAC</td>
          <td data-label="STRENGTH">75 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">CARDIAC SHOCK & FAIURE</td>
          <td data-label="No.">55</td>
          <td data-label="PRODUCT NAME">DOBUTAMINE</td>
          <td data-label="STRENGTH">50 MG/ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">CARDIAC SHOCK & FAIURE</td>
          <td data-label="No.">56</td>
          <td data-label="PRODUCT NAME">DOPAMINE</td>
          <td data-label="STRENGTH">40 MG/ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTISPASMODIC</td>
          <td data-label="No.">57</td>
          <td data-label="PRODUCT NAME">DROTAVERINE HYDROCHLORIDE</td>
          <td data-label="STRENGTH">40 MG/2ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICOAGULANT</td>
          <td data-label="No.">58</td>
          <td data-label="PRODUCT NAME">ENOXAPARIN</td>
          <td data-label="STRENGTH">20 MG/0.2 ML</td>
          <td data-label="VOLUME">0.2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICOAGULANT</td>
          <td data-label="No.">59</td>
          <td data-label="PRODUCT NAME">ENOXAPARIN</td>
          <td data-label="STRENGTH">40 MG/0.4 ML</td>
          <td data-label="VOLUME">0.4 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICOAGULANT</td>
          <td data-label="No.">60</td>
          <td data-label="PRODUCT NAME">ENOXAPARIN</td>
          <td data-label="STRENGTH">60 MG/0.6 ML</td>
          <td data-label="VOLUME">0.6 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICOAGULANT</td>
          <td data-label="No.">61</td>
          <td data-label="PRODUCT NAME">ENOXAPARIN</td>
          <td data-label="STRENGTH">80 MG/0.8 ML</td>
          <td data-label="VOLUME">0.8 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">DIURETIC, ANTI-HYPERTENSIVE</td>
          <td data-label="No.">62</td>
          <td data-label="PRODUCT NAME">FRUSEMIDE</td>
          <td data-label="STRENGTH">4 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIBIOTIC</td>
          <td data-label="No.">63</td>
          <td data-label="PRODUCT NAME">GENTAMICIN SULPHATE</td>
          <td data-label="STRENGTH">40 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICHOLINERGIC</td>
          <td data-label="No.">64</td>
          <td data-label="PRODUCT NAME">GLYCOPYRROLATE</td>
          <td data-label="STRENGTH">0.2 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIEMETIC</td>
          <td data-label="No.">65</td>
          <td data-label="PRODUCT NAME">GRANISETRON</td>
          <td data-label="STRENGTH">1 MG/ML</td>
          <td data-label="VOLUME">1/2/3/5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICOAGULANT</td>
          <td data-label="No.">66</td>
          <td data-label="PRODUCT NAME">HEPARIN</td>
          <td data-label="STRENGTH">1000 IU/ML</td>
          <td data-label="VOLUME">5/10 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICOAGULANT</td>
          <td data-label="No.">67</td>
          <td data-label="PRODUCT NAME">HEPARIN</td>
          <td data-label="STRENGTH">5000 IU/ML</td>
          <td data-label="VOLUME">1/5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">HEMATINIC</td>
          <td data-label="No.">68</td>
          <td data-label="PRODUCT NAME">IRON SUCROSE</td>
          <td data-label="STRENGTH">20 MG/ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTI-HYPERTENSIVE</td>
          <td data-label="No.">69</td>
          <td data-label="PRODUCT NAME">LABETALOL</td>
          <td data-label="STRENGTH">5 MG/ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANESTHETIC</td>
          <td data-label="No.">70</td>
          <td data-label="PRODUCT NAME">LIGNOCAINE HYDROCHLORIDE</td>
          <td data-label="STRENGTH">21.3 MG/ML</td>
          <td data-label="VOLUME">1/2/10 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY" rowspan="3">VITAMIN SUPPLEMENT</td>
          <td data-label="No.">71</td>
          <td data-label="PRODUCT NAME">METHYLCOBALAMINE</td>
          <td data-label="STRENGTH">500 MCG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">72</td>
          <td data-label="PRODUCT NAME">METHYLCOBALAMINE</td>
          <td data-label="STRENGTH">1500 MCG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="No.">73</td>
          <td data-label="PRODUCT NAME">MULTIVITAMIN</td>
          <td data-label="STRENGTH">(B1-100 MG, B6 - 100 MG,
            B12 25,000 MCG)</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">OXYTOCIC</td>
          <td data-label="No.">74</td>
          <td data-label="PRODUCT NAME">METHYLERGOMETRINE MALEATE</td>
          <td data-label="STRENGTH">0.2 MG/ML</td>
          <td data-label="VOLUME">1 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">GENERAL ANESTHETIC</td>
          <td data-label="No.">75</td>
          <td data-label="PRODUCT NAME">MIDAZOLAM</td>
          <td data-label="STRENGTH">1 MG/ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICHOLINERGIC</td>
          <td data-label="No.">76</td>
          <td data-label="PRODUCT NAME">NESTIGMINE</td>
          <td data-label="STRENGTH">0.5 MG/ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ALPHA- BETA ADRENERGIC AGONIST</td>
          <td data-label="No.">77</td>
          <td data-label="PRODUCT NAME">NORADRENALINE BITARTRATE</td>
          <td data-label="STRENGTH">2 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIEMETIC</td>
          <td data-label="No.">78</td>
          <td data-label="PRODUCT NAME">ONDANSETRON</td>
          <td data-label="STRENGTH">2 MG/ML</td>
          <td data-label="VOLUME">2 ML. PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">HEMOSTATIC</td>
          <td data-label="No.">79</td>
          <td data-label="PRODUCT NAME">TRANEXAMIC ACID</td>
          <td data-label="STRENGTH">500 MG/5 ML</td>
          <td data-label="VOLUME">5 ML. PFS</td>
        </tr>
      </tbody>
    </table>

    <div class="under-devlop">
      <h1>
      products under devlopment</h1>
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col">CATEGORY</th>
          <th scope="col">No.</th>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">STRENGTH</th>
          <th scope="col">VOLUME</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="CATEGORY">ANALGESIC</td>
          <td data-label="No.">1</td>
          <td data-label="PRODUCT NAME">FENTANYL CITRATE INJ</td>
          <td data-label="STRENGTH">50 MCG/ML</td>
          <td data-label="VOLUME">2 ML PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIARRHYTHMIC</td>
          <td data-label="No.">2</td>
          <td data-label="PRODUCT NAME">ESMOLOL HYDROCHLORIDE INJ.</td>
          <td data-label="STRENGTH">10 MG/ML</td>
          <td data-label="VOLUME">10 ML PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIDOTE</td>
          <td data-label="No.">3</td>
          <td data-label="PRODUCT NAME">DIMERCAPROL INJ.</td>
          <td data-label="STRENGTH">50 MG/ML</td>
          <td data-label="VOLUME">2 ML PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTIMALARIAL</td>
          <td data-label="No.">4</td>
          <td data-label="PRODUCT NAME">ALPHA-BETA ARTEETHER INJ.</td>
          <td data-label="STRENGTH">150 MG/2 ML</td>
          <td data-label="VOLUME">2 ML PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY"></td>
          <td data-label="No.">5</td>
          <td data-label="PRODUCT NAME">ARTEEMETHER INJ.</td>
          <td data-label="STRENGTH">80 MG/ML</td>
          <td data-label="VOLUME">1 ML PFS</td>
        </tr>
        <tr>
          <td data-label="CATEGORY">ANTICONVULSANT</td>
          <td data-label="No.">6</td>
          <td data-label="PRODUCT NAME">CLONAZEPAM INJECTION</td>
          <td data-label="STRENGTH">1 MG/ML</td>
          <td data-label="VOLUME">1 ML PFS</td>
        </tr>
      </tbody>
    </table>
  </div>
    </div>

{% endblock %}